/* This page contains the styling information for the slider in survey.html */
/* Credit for this styling goes to the author of this code: https://codepen.io/noahblon/pen/OyajvN */

body {
    height: 100vh;
    margin: 0;
    display: flex;
}

input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 3vw;
    /*width: 600px;*/
    cursor: pointer;
    border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
    background: green;
}

/* 1. Set to 0 width and remove border for a slider without a thumb */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5vw; /* 1 */
    height: 40vw;
    background: #fff;
    box-shadow: -100vw 0 0 100vw red;
    /* border: 1vw solid #999; */
    object-fit: contain;
}

::-moz-range-track {
    height: 40vw;
    background: #ddd;
    object-fit: contain;
}

::-moz-range-thumb {
    background: #fff;
    height: 40vw;
    width: 20vw;
    border: 3vw solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw red;
    box-sizing: border-box;
    object-fit: contain;
}

::-ms-fill-lower { 
    background: red;
    object-fit: contain;
}

::-ms-thumb { 
    background: #fff;
    border: 2vw solid green;
    height: 40vw;
    width: 20vw;
    box-sizing: border-box;
    object-fit: contain;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40vw;
    border: none;
    object-fit: contain;
}

::-ms-tooltip { 
    display: none;
}